In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
salary_data = pd.read_csv('salary_data_states.csv')

In [3]:
salary_data = salary_data['FULL_TIME_POSITION_Y_N'].value_counts()

In [7]:
print(salary_data)

y    152594
n      3591
Name: FULL_TIME_POSITION_Y_N, dtype: int64

In [29]:
salary_data = pd.read_csv('salary_data_states.csv')

print("Column names:")
print(salary_data.columns)


print("\nUnique values in FULL_TIME_POSITION_Y_N column:")
print(salary_data['FULL_TIME_POSITION_Y_N'].unique())

Column names:
Index(['CASE_NUMBER', 'CASE_STATUS', 'CASE_RECEIVED_DATE', 'DECISION_DATE',
       'EMPLOYER_NAME', 'PREVAILING_WAGE_SUBMITTED',
       'PREVAILING_WAGE_SUBMITTED_UNIT', 'PAID_WAGE_SUBMITTED',
       'PAID_WAGE_SUBMITTED_UNIT', 'JOB_TITLE', 'WORK_CITY',
       'EDUCATION_LEVEL_REQUIRED', 'COLLEGE_MAJOR_REQUIRED',
       'EXPERIENCE_REQUIRED_Y_N', 'EXPERIENCE_REQUIRED_NUM_MONTHS',
       'COUNTRY_OF_CITIZENSHIP', 'PREVAILING_WAGE_SOC_CODE',
       'PREVAILING_WAGE_SOC_TITLE', 'WORK_STATE', 'WORK_STATE_ABBREVIATION',
       'WORK_POSTAL_CODE', 'FULL_TIME_POSITION_Y_N', 'VISA_CLASS',
       'PREVAILING_WAGE_PER_YEAR', 'PAID_WAGE_PER_YEAR', 'JOB_TITLE_SUBGROUP',
       'order'],
      dtype='object')

Unique values in FULL_TIME_POSITION_Y_N column:
['y' nan 'n']

In [31]:
salary_data = pd.read_csv('salary_data_states.csv')

salary_data = salary_data[salary_data['FULL_TIME_POSITION_Y_N'] == "y"]

full_time_by_state = salary_data.groupby('WORK_STATE')['FULL_TIME_POSITION_Y_N'].count()

sort_by_greatest = full_time_by_state.sort_values()

print(sort_by_greatest)

WORK_STATE
Palau                           1
Wyoming                        42
Northern Mariana Islands       56
Montana                        56
Alaska                         59
Guam                           60
Vermont                        87
South Dakota                   91
Virgin Islands                 97
Puerto Rico                   105
North Dakota                  125
Hawaii                        154
Idaho                         178
Maine                         198
West Virginia                 295
Mississippi                   323
Nevada                        393
New Hampshire                 401
Alabama                       489
Rhode Island                  494
Oklahoma                      510
Arkansas                      529
New Mexico                    530
Nebraska                      556
Kentucky                      572
Kansas                        692
Utah                          701
Delaware                      803
Louisiana                     810
South Carolina                817
Iowa                          924
Tennessee                     993
District of Columbia         1284
Oregon                       1285
Wisconsin                    1305
Indiana                      1457
Colorado                     1501
Connecticut                  1898
Minnesota                    1965
Arizona                      2337
Missouri                     2613
Ohio                         2978
Maryland                     3017
North Carolina               3383
Michigan                     3566
Florida                      3772
Pennsylvania                 4279
Washington                   4317
Georgia                      5340
Virginia                     5398
Massachusetts                6277
Illinois                     6967
New Jersey                   8952
New York                    10324
Texas                       14275
California                  41963
Name: FULL_TIME_POSITION_Y_N, dtype: int64

In [26]:
df = pd.read_csv('salary_data_states.csv')

In [9]:
states= df['WORK_STATE'].unique()

In [10]:
print(states)

['Illinois' 'California' 'Texas' 'Oregon' 'New Jersey' 'New York'
 'Connecticut' 'Washington' 'Maryland' 'North Carolina'
 'District of Columbia' 'South Carolina' 'Rhode Island' 'Colorado'
 'Michigan' 'Missouri' 'Minnesota' 'Wyoming' 'Louisiana' 'Pennsylvania'
 'Tennessee' 'Idaho' 'Massachusetts' 'Nebraska' 'Georgia' 'Ohio' 'Florida'
 'Indiana' 'Arizona' 'Kentucky' 'Iowa' 'Wisconsin' 'Alabama' 'Arkansas'
 'Virginia' 'New Mexico' 'West Virginia' 'Oklahoma' 'Utah' 'Nevada'
 'Mississippi' 'New Hampshire' 'Delaware' 'Kansas' 'Alaska' 'Hawaii'
 'Vermont' 'North Dakota' 'Maine' 'Montana' 'Virgin Islands'
 'South Dakota' 'Guam' 'Puerto Rico' 'Palau' 'Guamam'
 'Northern Mariana Islands']

In [12]:
salary_data = pd.read_csv('salary_data_states.csv')
avg_salaries = salary_data.groupby('JOB_TITLE_SUBGROUP').mean()['PAID_WAGE_PER_YEAR']
print(avg_salaries)

JOB_TITLE_SUBGROUP
assistant professor       94876.713707
attorney                 146413.596714
business analyst          71300.079566
data analyst              70030.078688
data scientist           108021.038248
management consultant    108251.334662
software engineer         92505.303013
teacher                   46039.985507
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [14]:
salary_data = pd.read_csv('salary_data_states.csv')
grouped = salary_data.groupby(["WORK_STATE","JOB_TITLE_SUBGROUP"])["PAID_WAGE_SUBMITTED"].mean()
print(grouped)

WORK_STATE  JOB_TITLE_SUBGROUP
Alabama     assistant professor       80286.773785
            attorney                 112408.243636
            business analyst          52080.221429
            data analyst              51092.333333
            management consultant     99008.000000
                                         ...
Wyoming     assistant professor       70396.769231
            attorney                  66443.640000
            business analyst          54011.000000
            software engineer         56068.333333
            teacher                   47345.500000
Name: PAID_WAGE_SUBMITTED, Length: 370, dtype: float64

In [18]:
selected_states = ["California", "Colorado", "New York", "Tennessee", "Florida"]

filtered_states = salary_data[salary_data["WORK_STATE"].isin(selected_states)]
stateAndSalary = filtered_states.groupby(["WORK_STATE", "JOB_TITLE_SUBGROUP"])["PAID_WAGE_SUBMITTED"].mean()
group_rounded = stateAndSalary.round(2)
print(group_rounded)

WORK_STATE  JOB_TITLE_SUBGROUP
California  assistant professor       90227.70
            attorney                 120995.16
            business analyst          68455.19
            data analyst              77205.48
            data scientist           117007.67
            management consultant     59428.49
            software engineer        106876.98
            teacher                   39998.97
Colorado    assistant professor       87870.38
            attorney                  69639.11
            business analyst          66587.60
            data analyst              62969.13
            data scientist            75347.78
            management consultant     78801.50
            software engineer         78731.11
            teacher                   36348.52
Florida     assistant professor      100299.38
            attorney                  74345.26
            business analyst          55102.95
            data analyst              58721.96
            data scientist            66521.43
            management consultant     49025.22
            software engineer         70039.55
            teacher                   33210.48
New York    assistant professor       88398.46
            attorney                 154383.95
            business analyst          69839.21
            data analyst              67886.95
            data scientist           106332.28
            management consultant     60820.45
            software engineer         96209.29
            teacher                   37446.17
Tennessee   assistant professor       66443.30
            business analyst          64224.83
            data analyst              62247.00
            data scientist               35.00
            management consultant     68044.00
            software engineer         71031.99
            teacher                   39218.43
Name: PAID_WAGE_SUBMITTED, dtype: float64

In [33]:
salary_data = pd.read_csv('salary_data_states.csv')
employee_count_by_company = salary_data.groupby('EMPLOYER_NAME').size()
sort_employee_count = employee_count_by_company.sort_values(ascending = False)

print (sort_employee_count)

EMPLOYER_NAME
GOOGLE INC.                        6213
FUJITSU AMERICA, INC.              1814
INTEL CORPORATION                  1781
MICROSOFT CORPORATION              1364
QUALCOMM TECHNOLOGIES, INC.        1277
                                   ...
PATTERSON COMPANIES, INC.             1
PATTON ELECTRONICS, CO.               1
ERP LOGIC, INC.                       1
ERP INTERGRATED SOLUTIONS, INC.       1
Ã‹NIMAI, INC.                          1
Length: 23773, dtype: int64

In [39]:
salary_data = pd.read_csv('salary_data_states.csv')

sf_data = salary_data[salary_data['WORK_CITY'] == 'San Francisco']

employee_in_sf = sf_data.shape[0]

print(employee_in_sf)

269

In [40]:
salary_data = pd.read_csv('salary_data_states.csv')

sf_data_analysts = salary_data[(salary_data['WORK_CITY'] == 'San Francisco') & (salary_data['JOB_TITLE'].str.contains('Data Analyst', case=False))]

count_data_analysts_sf = sf_data_analysts.shape[0]

print(count_data_analysts_sf)

4

In [41]:
salary_data = pd.read_csv('salary_data_states.csv')

employer_count_by_visa_class = salary_data.groupby('VISA_CLASS')['EMPLOYER_NAME'].nunique()

print(employer_count_by_visa_class)

VISA_CLASS
E-3 Australian       702
H-1B               22067
H-1B1 Chile           67
H-1B1 Singapore       85
greencard           2986
Name: EMPLOYER_NAME, dtype: int64