In [23]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
salary_data = pd.read_csv('salary_data_states.csv')

In [25]:
salary_data = salary_data['FULL_TIME_POSITION_Y_N'].value_counts()

In [26]:
print(salary_data)

y    152594
n      3591
Name: FULL_TIME_POSITION_Y_N, dtype: int64

In [30]:
df = pd.read_csv('salary_data_states.csv')

In [31]:
states= df['WORK_STATE'].unique()

In [32]:
print(states)

['Illinois' 'California' 'Texas' 'Oregon' 'New Jersey' 'New York'
 'Connecticut' 'Washington' 'Maryland' 'North Carolina'
 'District of Columbia' 'South Carolina' 'Rhode Island' 'Colorado'
 'Michigan' 'Missouri' 'Minnesota' 'Wyoming' 'Louisiana' 'Pennsylvania'
 'Tennessee' 'Idaho' 'Massachusetts' 'Nebraska' 'Georgia' 'Ohio' 'Florida'
 'Indiana' 'Arizona' 'Kentucky' 'Iowa' 'Wisconsin' 'Alabama' 'Arkansas'
 'Virginia' 'New Mexico' 'West Virginia' 'Oklahoma' 'Utah' 'Nevada'
 'Mississippi' 'New Hampshire' 'Delaware' 'Kansas' 'Alaska' 'Hawaii'
 'Vermont' 'North Dakota' 'Maine' 'Montana' 'Virgin Islands'
 'South Dakota' 'Guam' 'Puerto Rico' 'Palau' 'Guamam'
 'Northern Mariana Islands']

In [38]:

avg_salaries = salary_data.groupby('JOB_TITLE_SUBGROUP').mean()['PAID_WAGE_PER_YEAR']
print(avg_salaries)

JOB_TITLE_SUBGROUP
assistant professor       94876.713707
attorney                 146413.596714
business analyst          71300.079566
data analyst              70030.078688
data scientist           108021.038248
management consultant    108251.334662
software engineer         92505.303013
teacher                   46039.985507
Name: PAID_WAGE_PER_YEAR, dtype: float64